.App {
  text-align: center;
}
/* .items {
  width: 1400px;
  margin: 10px auto;
  padding: 0;
  text-align: center;
  border: 2px solid black;
} */

.appbar {
  background-color: rgba(0, 19, 41, 0.932);
  color: rgb(231, 231, 231);
  /* width: 250px; */
  /* height: 1000px; */
  font-size: 100px;
  border-radius: 0px;
}

.header {
  background-color: rgb(0, 19, 41);
  color: rgb(231, 231, 231);
  margin: 0 auto;
  height: 200px;
}

.inputbox {
  border: 1px solid black;
  border-radius: 2px;
  overflow: hidden;
}

